* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

/*Homepage Styling*/
#main-container {
    display: grid;
    grid-template-areas:
        'background';
    grid-area: background;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    max-height:100vh;
    object-fit: contain;
    background-image: url(../images/home-bkg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#home-page {
    display: grid;
    grid-template-areas: 
        'head head head head head head'
        'mid mid mid mid mid mid'
        'foot foot foot foot foot nav';
    flex-direction: column;
    margin: auto;
    position: relative;
    width: 85%;
    height: 100vh;
}

#nav-section {
    grid-area: head;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

ul.nav-links {
    grid-area: link;
    display: flex;
    flex-direction: row;
    align-items: right;
}

ul.nav-links a {
    width: 100%;
    text-decoration: none;
    color: #FBF4F4;
}

ul.nav-links li {
    width: 5em;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 42px;
    margin: 0 0 0 20px;

}

.main-logo {    
    width: 95px;
    height: 95px;
}

div.hero-section {
    grid-area: mid;
}

h1.hero-title {
    grid-area: mid;
    font-family: 'Philosopher', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 175px;
    line-height: 224px;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div.nav-circles-section {
    grid-area: nav;
    align-self: start;
    height: 80px;
}

ul.nav-circles {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

ul.nav-circles>li {
    width: 30px;
    height: 30px;
}

ul.nav-circles>li a {
    display: block;
    width: 30px;
    height: 30px;
}


svg.circle-nav-item {
    width: 30px;
    height: 30px;
    /* fill: #FBF4F4; */
}


/* #main-container ul.nav-circles>li:first-child>a>svg>circle {
    fill: #000;
} */


/*About Page Styling*/
#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        'left left right right'
        'left left right right';
}

#about-image-section {
    grid-area: right;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    max-height:100vh;
    object-fit: contain;
    background-image: url(../images/about-bkg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

#about-page {
    grid-area: left;
    max-height: 100vh;
    min-height: 100vh;
}

div.about-desc-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    justify-content: center;
    padding: 50px;
    margin-top: 5em;
    white-space: normal;
}

h1.about-title {
    font-family: 'Philosopher', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 81px;
    text-align: left;
    margin: 0;
    color: #000000;
}

h2.about-subtitle {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    margin: .5em 0;
    color: #000000;
}

p.about-desc {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin: .5 0;
    color: #000000;
}


img.about-image-bkg {
    width: 100%;
    height: 100vh;
}

div#about-image-section>div.nav-circles-section {
    align-self: end;
    height: 80px;
    margin-bottom: 3em;
    margin-right: 3em;
}

div#about-image-section ul.nav-circles {
    display: flex;
    flex-direction: column;
}


div#contact-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        'left left right right'
        'left left right right';
    width: 100%;
    /* min-width: 50%; */
    max-height: 100vh;
    min-height: 100vh;
    background: #FBF4F4;
}

div.contact-info {
    grid-area: left;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100vh;
    min-height: 500px; 
    padding: 15% 15%;
    white-space: nowrap;
}

h1.contact-title {
    font-family: 'Philosopher', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 81px;
    text-align: left;
    margin: 0;
    color: #000000;
}

div.contact-list-section {
    width: 100%;
}

div.contact-list-section>ul.contact-list li.contact-list-items img {
    width: 50px;
    height: auto;
}


ul.contact-list>li.contact-list-items {
    display: flex;
    flex-direction: row;
    margin: 2.5em 0;
}

ul.contact-list>li.contact-list-items>p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;

    color: #000000;
}

div.contact-image-section {
    grid-area: right;
    position: relative;
    width: 100%;
    /* min-height: auto; */
    max-height: 100vh;
    display: flex;
    /* flex-direction: row; */
}

.contact-image-front {
    position: relative; 
    /* width: auto; */
    flex-shrink: 0;
    max-width: 70%;
    min-height: auto;
    max-height:70%;
    object-fit: contain;
    left: 1rem;
    top: 5rem;
    z-index: 2;
}

.contact-image-back {
    position: relative;
    flex-shrink: 0;
    max-width: 70%;
    min-height: auto;
    max-height:70%;
    object-fit: contain;
    top: 2rem;
    left: -22rem;
   z-index: 1;
    
}

.contact-image {
   
}

.contact-image-bkg {
    
   
}

/* Work on This! */
div#contact-page div.nav-circles-section {
    position: relative;
    top: 13%;
    right: 20%;
    z-index: 2;
    display: none;  
}

@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}